src/main/mule/github-tutorial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="23c76f33-a8a7-4124-8e54-27a7f142c3d1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="github-tutorialFlow" doc:id="3672fbd9-fbe8-4c25-8166-8d3da771ebf1" >
		<http:listener doc:name="Listener" doc:id="e7b95d7d-3404-4968-868e-8d6491a0524c" config-ref="HTTP_Listener_config" path="/github"/>
		<ee:transform doc:name="Transform Message" doc:id="f0a97dda-cd19-4c7b-8a0f-dc79a5c0f4b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b0717c68-ea5e-4b31-aa24-f781d9a7c9e3" message="xyz"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="0154d85c-7c4b-498f-9c59-6c252ef3b71f" variableName="gitvar"/>
		<set-variable value="BOOM" doc:name="Set Variable" doc:id="2f54bea2-29c7-4e1b-a676-7822caa17f1f" variableName="ApnaVar"/>
		<set-variable value="" doc:name="Variable_Joe" doc:id="5fb5cd12-1053-424e-a478-a5e2b93e8787" variableName="Joe"/>
	</flow>
</mule>
